
<link rel="stylesheet" href="/css/user_profile.css">

<h1>
    Codeial / Profile Page
</h1>

<%if(locals.user.id == profile_user.id){%>
    <a href="/posts/showAllPostsAccordingToUsers">
        <button type="submit">Your Posts</button>
    </a>
<%}%>

<a href="/users/sign-out">
    <button type="button">Sign-Out</button>
</a>

<br><br> 
<%if(locals.user.id == profile_user.id){%>
    <!-- if user matches then show the form -->
    <form action="/users/update/<%= profile_user.id%>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name%>" required >
        <input type="text" name="email" placeholder="Your email" value="<%= profile_user.email%>" required >
        <input type="submit" value="Update">
    </form>
<%}else{%>
    <p>Name: <%= profile_user.name%></p>
    <p>Email: <%= profile_user.email%></p>
<%}%>